# App
APP_PORT=
NODE_ENV=
SHOW_APP_LOGS=
APP_BASE_URL=

# MYSQL
MYSQL_DATABASE_HOST=
MYSQL_DATABASE_PORT=
MYSQL_DATABASE_NAME=
MYSQL_DATABASE_USERNAME=
MYSQL_DATABASE_PASSWORD=
MYSQL_DATABASE_SHOW_LOGS=
